@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Inter", sans-serif;
  overflow-x: hidden;
  background-color: #0D0D0D;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.hide-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

/* Apply to entire website */
::-webkit-scrollbar {
  width: 5px; /* Width of the vertical scrollbar */
  height: 7px; /* Height of the horizontal scrollbar */
}

::-webkit-scrollbar-track {
  background: #000000; /* Track background */
}

::-webkit-scrollbar-thumb {
  background: #6b7280; /* Scrollbar color */
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #6b7280; /* Color on hover */
}
